RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^livre/([0-9]+)$ index.php?action=chapter&id=$1 [NC,L]
RewriteRule ^episode/([0-9]+)$ index.php?action=episode&id=$1 [NC,L]
RewriteRule ^about$ index.php?action=about [NC,L]
RewriteRule ^library$ index.php?action=library [NC,L]
RewriteRule ^admin$ index.php?action=admin [NC,L]
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^/Jean-Forteroche/(.*)$ /Jean-Forteroche/index.php [L]