*
{
  box-sizing: border-box;
}
html, body
{
  background-color: #e0e7f1;
  margin: 0;
  padding: 0;
  color: #1b4b36;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
.main
{
  margin: 0 15px;
  min-height: 100%;
}
a,
a:hover
{
  color: #538f6a;
}
header .navbar-default
{
  background-color: #538f6a;
}
header .navbar-default .navbar-nav>li>a,
header .navbar-default .navbar-brand
{
  color: rgba(250, 250, 250, 0.6);
  transition: color ease 0.3s;
}

header .navbar-default .navbar-toggle .icon-bar
{
    background-color: rgba(250, 250, 250, 0.6);
}
header .navbar-default .navbar-nav>li>a:hover,
header .navbar-default .navbar-brand:hover
{
  color: rgba(250, 250, 250, 1);
}
footer
{
  margin-top: 30px;
  text-align: center;
  border-top: 2px solid #538f6a;
  background: #538f6a;
  color: rgba(250, 250, 250, 0.6);
}
footer a{
  color: rgba(250, 250, 250, 0.6);
  text-decoration: underline;
}
.footer
{
  padding: 15px 20px 15px 20px;
}
.cover-profil{
  background: 
  -webkit-linear-gradient(to bottom, #000d, #0008),
  center top / cover url("../img/profil.jpeg");
  background: 
  -o-linear-gradient(to bottom, #000d, #0008),
  center top / cover url("../img/profil.jpeg");
  background: 
  linear-gradient(to bottom, #000d, #0008),
  center top / cover url("../img/profil.jpeg");
  height: 300px;
  padding: 20px;
  position: relative;
}
.cover-profil img{
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.cover-profil span{
  color: rgba(255,255,255,0.7);
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
}

.article
{
  margin-bottom: 20px;
  border-radius: 5px;
  background: rgba(250, 250, 250, .6);
}
.article-number
{
  width: 100%;
  background-color: #538f6a;
  color: rgba(250, 250, 250, 0.8);
  font-size: 20;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.article-main
{
  margin: 0 15px 10px 15px;
  text-align: justify;
}
.article-title
{
  text-align: center;
}
.article-content
{  
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding-bottom: 1.2rem;
}
.article-footer
{
  text-align: right;
  font-size: 0.9rem;
}
.article-about,
.article-chapter
{
  text-align: justify;
}
.fas
{
  margin-right: 3px;
  margin-left: 8px;
}
.fas:first-child
{
  margin-left: 0;
}
.info-user{
  background: rgba(250, 250, 250, 0.6);
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
}
.info-user span{
  display: block;
}
.info-user span:nth-child(2){
  font-weight: bold;
  font-style: italic;
}
.info-chapter
{
  background: #538f6a;
  padding: 18px 10px;
  color: rgba(250, 250, 250, 0.6);
  margin: 20px 0;
}
.info-chapter p
{
  margin: 0;
}
.info-comment
{
  background: #538f6a;
  padding: 8px 10px;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 80px;
  margin-bottom: 10px;
}
#offline{
  background: rgba(230, 53, 53, 0.26);
}
.comment{
  display: flex;
}
.comment, .comment-main-admin
{
  background: rgba(250, 250, 250, 0.6);
  padding: 10px;
  margin: 10px 0;
}
.comment-detail-admin{
  margin-right: 15px;
  text-align: center;
}
.comment-user-admin{
  display: flex;
  margin-bottom: 8px;
}
.comment-user
{
  text-align: center;
  display: block;
  flex: none;
  width: 70px;
  margin-right: 20px;
}
.comment-user img, .comment-detail-admin img{
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50px;
}
.comment-main
{
  width: 100%;
  padding-right: 8px;
  position: relative;
}
.comment-footer, 
.comment-footer-admin{
  bottom: 0;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}
.comment-content
{
  padding-bottom: 25px;
}
.add-comment
{
  border-top: 4px solid #538f6a;
}
.form-comment
{
  background: rgba(250, 250, 250, 0.6);
  padding: 10px 30px;
}
.ctrl-text>label{
  font-weight: normal;
}
.ctrl-text
{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
p>.btn-new{
  margin-left: 5px;
}
.btn-submit,
.btn-new
{
  padding: .4rem 1.1rem;
  color: #538f6a;
  border: 1px solid rgba(83, 143, 106, .3);
  transition: all ease 0.3s;
}
.btn-submit:hover,
.btn-new:hover
{
  background: rgba(83, 143, 106, 1);
  text-decoration: none;
  color: rgba(250, 250, 250, .8);
}
.button .btn-submit,
.btn-new
{
  width: 100%;
  margin: 30px 0;
}

table{
  border-collapse: separate;
  border-spacing: 5px;
  width: 100%;
  margin: 40px auto;
}
.chapter .offline{
  color: red;
}
.chapter .online{
  color: green;
}
.display{
  display: none;
}
.allChapter tr{
  background: rgba(206, 206, 206, 1);
  border-bottom: 1px solid #000
}
.allChapter td:first-child{
  padding: 10px 0;
}
.allChapter td{
  padding: 0 12px;
  margin-bottom: 5px;
}
.allChapter .chapter{
  width: 60px;
  text-align: center;
}
.allChapter .option{
  width: 100px;
  text-align: center;
}
.aside-admin
{
  background: rgba(250, 250, 250, .8);
  padding: 20px 15px;
  border-radius: 5px;  
}
.aside-home
{
  background: rgba(250, 250, 250, .8);
  padding: 20px 15px;
  margin-top: 40px;
  border-radius: 5px;
}
.aside-home .aside,
.aside-admin .aside
{
  background: #e0e7f1;
  padding: 15px 10px 10px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.footer-com
{
  margin-top: 10px;
  text-align: right;
  font-style: italic;
  font-size: .9rem;
}
.main-connect,
.main-forgot,
.main-create
{
  background: rgba(250, 250, 250, .6);
  max-width: 400px;
  margin: 50px auto;
  padding: 20px 50px;
  border-radius: 5px;
}
.connect-text
{
  margin-top: 20px;
}
.forgot
{
  margin-top: 8px;
  text-align: right;
}
.form-connect p,
.form-create p,
.form-connect .create,
.form-create .cancel,
.btn-cancel
{
  text-align: center;
}
.btn-option
{
  cursor: pointer;
}
.main-forgot
{
  display: none;
}
.form-create hr 
{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  border: none;
  height: 1px;
  background: rgb(83, 143, 106, .3);
}
.error{
  color: rgba(255,0,0,0.8);
  font-weight: bold;
}
.no-match{
  color: rgba(255,0,0,0.8);
  text-align: center;
  font-weight: bold;
}
.msg-flash{
  padding: 5px 0;
  border-radius: 5px;
  color: red;
  font-weight: bold;
}

.alerte-maintenance
{
  text-align: center;
  color: rgba(250, 250, 250, 1);
  background: rgb(133, 133, 133);
}
.alerte-maintenance p 
{
  padding: 10px 0;
}
.no-auth
{
  padding: 15px;
}
.no-auth p
{
  margin-bottom: 25px;
  color: red;
}
.no-auth a
{
  border: 1px solid #538f6a;
  padding: 0.18rem 1.3rem;
  border-radius: 5px;
  text-decoration: none;
  transition: color ease 0.3s;
}
.no-auth a:hover
{
  background: rgba(83, 143, 106, 1);
  color: rgba(250, 250, 250, .8);
}
.success
{
  background: rgb(10, 136, 58);
  color: rgba(250, 250, 250, .8);
  padding: 8px 15px;
  border-radius: 5px;
}
.main-box
{
  background: rgba(250, 250, 250, .6);
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 68px;
}
.main-box:last-child
{
  margin-bottom: 30px;
}
.box 
{
  display: flex;
}
.box-left .fas
{
  font-size: 2.5rem;
  color: rgba(250, 250, 250, .6);
}
.box-left
{  
  display: flex;
  align-items: center;
  background-color: #538f6a;
  padding: 0 15px;
  min-height: 68px;
  width: 73px;
}
.box .content-admin
{
  padding: 5px 15px;
}
.action{
  border: 1px solid #538f6a;
  background: rgba(250, 250, 250, .6);
  padding: 15px;
}
.form-chapter{
  margin-top: 30px;
}
.chapter-admin{
  margin: 15px 0;
}
.chapter-admin input, .chapter-admin select{
  width: 100%;
  padding-left: 8px;
}
.btn-save{
  margin-top: 20px;
}

@media only screen and (min-width: 690px) {
  .main
  {  
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
  }
  .article
  {
    display: flex;
  }
  .article a 
  {
    color: #1b4b36;
  }
  article .article-link
  {
    color: #337ab7;
    text-decoration: none;
    position: relative;
    display: block;
    flex: none;
    width: 130px;
    background-color: #538f6a;
  }
  .article-main
  {
    width: 100%;
    line-break: auto;
    text-align: inherit;
  }
  .article-number p
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .article-about
  {
    text-align: inherit;
  }
  .ctrl-text
  {
    width: 70%;
  }

  .allChapter .option span{
    padding-right: 20px;
  }
  .display{
    display: initial;
  }
  .allChapter .chapter, .allChapter .option{
    width: 140px;
  }

  .cover-profil img{
    background: #fff;
    position: absolute;
    left: 10%;
    top: 60%;
    transform: translateY(-50%); 
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .cover-profil span{
    color: rgba(255,255,255,0.7);
    text-transform: uppercase;
    position: absolute;
    left: 30%;
    top: 60%;
    transform: translateY(-50%);
  }

  .chapter-admin input, .chapter-admin select{
    width: auto;
    margin-left: 15px;
  }
  .comment-main-admin{
    display: flex;
  }
  .comment-user-admin{
    width: 100%;
  }
  .comment-footer-admin{
    flex: none;
    width: 200px;
  }
}

@media only screen and (min-width: 800px) {
  .content
  {
    display: flex;
  }
  .main-home
  {
    width: 100%;
  }
  .aside-home
  {
    padding: 0px 15px;
    margin-top: 85px;
    border-radius: 5px;
    flex: none;
    width: 320px;
    margin-left: 30px;
    margin-bottom: 45px;
  }
  .aside-admin
  {
    padding: 0px 15px;
    border-radius: 5px;
    flex: none;
    width: 350px;
    margin-left: 30px;
    margin-bottom: 45px;
  }
}