body {
	background: #D8DFD9;
  overflow-x: hidden;
}
header .cover-header {
  background: url("/P4/Jean-forteroche/public/img/cover-header.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 15px;
  height: 450px;
  padding-top: 150px;
  color: rgb(133,109,77);
  text-transform: uppercase;
  letter-spacing: 3px;
}
header .cover-admin {
  height: 210px;
  padding-top: 70px;
  color: #fefefe; /*rgb(133,109,77);*/
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #555;
  margin-bottom: 50px;
}
.navbar-default .navbar-brand {
  color: rgb(133,109,77);
}
.navbar {
  background: none;
  border: none;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
}
article {
  border: 1px solid #fefefe;
  border-radius: 10px;
  margin-top: 20px;
}
article .book {
  border-bottom: 1px solid #ededed;
  padding: 15px;
}
article .book p {
  margin-bottom: 15px;
}
article .aside-footer {
  padding: 15px 0 8px 0;
}
.error img {
  width: 10%;
}
.container a {
  color: rgb(133,109,77);
}
.container a:hover {
  color: rgb(133,109,77);
  text-decoration: none;
}
.navbar-fixed-top {
  background-color: #FEFEFE;
}
#nav {
  box-shadow: 0px 2px 25px rgb(120, 120, 120);
}
.navbar-default .navbar-toggle .icon-bar {
  background: rgb(0, 86, 27);
}
.navbar-default .navbar-nav>li>a {
  color: rgb(133,109,77);
  text-transform: uppercase;
}
.navbar-default .navbar-brand:hover {
  color: rgb(133,109,77);
}
.navbar-default .navbar-nav>li>a:hover {
  background: rgb(133,109,77);
  color: #FEFEFE;
  -webkit-transition: all ease 450ms;
  -o-transition: all ease 450ms;
  -ms-transition: all ease 450ms;
  transition: all ease 450ms; 
}
header .header-bottom h2 {
  display: inline-block;
  background: rgba(210, 210, 210, 0.6);
  padding: 15px 20px;
  border-radius: 7px;
}
header .header-bottom {
}
.about .row{
  margin-top: 25px;
}
.about img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 100px;
}
.header-book {
  border-bottom: 2px solid rgb(133,109,77);
  text-align: center;
  padding: 6px 0 18px 0;
  margin-bottom: 25px;
  color: rgb(133,109,77);
  background-color: #FEFEFE;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.fa-chevron-double-left{
  color: rgb(133,109,77);
}
.body-episode p, .body-episode, .body-episode-unique p, .body-episode-unique{
  padding: 20px;
  text-align: justify;
  background-color: #FEFEFE;
}
.body-episode {
  margin-bottom: 40px;
}
.header-episode {
  border-left: 5px solid rgb(133,109,77);
  border-bottom: 1px solid rgb(133,109,77);
  padding: 10px 0 0 20px;
  color: #FEFEFE;
  background-color: rgba(133,109,77, 0.8);
  text-transform: uppercase;
  margin-top: 35px;
}
.footer-episode-unique {
  border-top: 2px solid rgb(133,109,77);
  margin-top: 3px;
}
.footer-episode-unique p, .footer-episode-unique {
  padding: 6px 0 2px 20px;
  text-align: justify;
  background-color: #FEFEFE;
}
.footer-episode p {
  padding-top: 0px;
  padding-bottom: 10px;
}
.footer-episode a {
  margin-left: 20px;
}
.comment-users p {
  padding: 5px 20px;
}
.comment {
  padding: 15px 0;
  margin-bottom: 20px;
  background: #EFEFEF;
  border-radius: 7px;
}
form textarea, form input {
  width: 100%;
  height: 70px;
}
.header-book span {
  background: rgba(133,109,77, 0.9);
  color: #fefefe;
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 0.9em;
}
.book {
  background: #fefefe;
  margin: 10px 0;
  border-radius: 8px;
}
.book .info-right p {
  padding: 10px 0;
  border-bottom: 1px solid #ededed;
}
.book .info-bottom {
  padding: 0 0 10px 15px;
}

.forms {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fefefe;
  border-radius: 8px;
}
.forms .log-header {
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.forms form {
  margin: 20px 0;
}
.forms .log {
  margin-bottom: 10px;
}
.forms .log-footer {
  border-top: 1px solid #ededed;
  padding-top: 20px;
  margin-top: 20px;
}
.forms input {
  height: 40px;
}
.forms p input {
  background: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  padding-left: 15px;
  color: #fefefe;
}



.footer-all {
  border-top: 1px solid rgb(133, 109, 77);
  background: #fefefe;
  margin-top: 50px;
}
footer h4 {
  border-bottom: 1px solid rgb(133, 109, 77);
}
footer .info-footer {
  padding: 15px;
}
.footer-below {
  padding-top: 20px;
  border-top: 1px solid rgba(133, 109, 77, 0.5);
  text-align: center;
}

.no-match {
  color: #f11;
  text-align: center;
}


.card {
  background: linear-gradient(#303030 0,#505050 40%,#6767B7 100%);
  border: 1px solid #303030;
  color: #E0CDA9;
  margin: 5px;
  padding: 10px;
  width: 100%;
}
.card .sec-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.card span {
  font-size: 30px;
}
.sec-card p {
  font-size: 25px;
}
.card p {
  margin: 0;
}
.info-card {
  padding-top: 10px;
}
.detail-admin .admin-header {
  background: #505050;
  color: #fefefe;
  margin: 5px;
  padding: 1px 10px;
  width: 100%;
}

.panel-admin {
  margin-top: 50px;
}
.admin-header h4 {
  display: flex;
  justify-content: space-between;
}
.admin-header {
  cursor: pointer;
}
*[id^="detail-"] {
  padding: 0 15px;
  display: none;
}
.glyphicon-chevron-down {
  display: none;
}
.glyphicon {
  -webkit-animation-timing-function: all 750ms ease;
  -o-animation-timing-function: all 750ms ease;
  animation-timing-function: all 750ms ease;
}




.glyphicon-menu-up {
  position: fixed;
  right: -50px;
  top: 88%;
  color: #fefefe;
  background: rgba(133,109,77, 0.9);
  padding: 15px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  -webkit-transition: all ease 350ms;
  -o-transition: all ease 350ms;
  -ms-transition: all ease 350ms;
  transition: all ease 350ms;
}