body {
	background: #D8DFD9;
  overflow-x: hidden;
}
header .cover-header {
  background: url("/P4/Jean-forteroche/public/img/cover-header.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 15px;
  height: 450px;
  padding-top: 150px;
  color: rgb(133,109,77);
  text-transform: uppercase;
  letter-spacing: 3px;
}
header .cover-admin {
  height: 210px;
  padding-top: 70px;
  color: #fefefe; /*rgb(133,109,77);*/
  text-transform: uppercase;
  letter-spacing: 3px;
  background: #555;
  margin-bottom: 50px;
}
.navbar-default .navbar-brand {
  color: rgb(133,109,77);
}
.navbar {
  background: none;
  border: none;
  padding: 0 30px;
  -webkit-transition: all ease 300ms;
  -o-transition: all ease 300ms;
  -ms-transition: all ease 300ms;
  transition: all ease 300ms;
}

.container a {
  color: rgb(133,109,77);
}
.container a:hover {
  color: rgb(133,109,77);
  text-decoration: none;
}
.navbar-fixed-top {
  background-color: #FEFEFE;
}
#nav {
  box-shadow: 0px 2px 25px rgb(120, 120, 120);
}
.navbar-default .navbar-toggle .icon-bar {
  background: rgb(0, 86, 27);
}
.navbar-default .navbar-nav>li>a {
  color: rgb(133,109,77);
  font-size: 0.95em;
  text-transform: uppercase;
}
.navbar-default .navbar-brand:hover {
  color: rgb(133,109,77);
}
.navbar-default .navbar-nav>li>a:hover {
  background: rgb(133,109,77);
  color: #FEFEFE;
  -webkit-transition: all ease 450ms;
  -o-transition: all ease 450ms;
  -ms-transition: all ease 450ms;
  transition: all ease 450ms; 
}
header .header-bottom h2 {
  display: inline-block;
  background: rgba(210, 210, 210, 0.6);
  padding: 15px 20px;
  border-radius: 7px;
}
header .header-bottom {
}
.about .row{
  margin-top: 25px;
}
.about img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 100px;
}

.comment-users p {
  padding: 5px 20px;
}
.comment {
  padding: 15px 0;
  margin-bottom: 20px;
  background: #EFEFEF;
  border-radius: 7px;
}

.pageAllChapter{
  border-bottom: 3px ridge rgb(133, 109, 77);
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.forms {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #fefefe;
  border-radius: 8px;
}
.forms .log-header {
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.forms form {
  margin: 20px 0;
}
.forms .log {
  margin-bottom: 10px;
}
.forms input {
  height: 40px;
}
.forms p input {
  background: none;
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 5px;
  padding-left: 15px;
  color: #fefefe;
}

.chapter{
  margin: 50px auto;
  padding: 20px 15px;
  background: #fefefe;
  border-radius: 3px;
  font-size: 1.15em;
}
.comment{
  padding: 15px; 
  font-size: 0.95em;
}
.form-comment{
  padding: 25px;
  margin: 15px;
  border: 1px solid #aaa;
  border-radius: 7px;
}
.form-connect .forgot, .form-forgot .forgot{
  margin: 10px 0;
}
.form-connect .btn-forgot, .form-forgot .btn-cancel {
  background-color: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.form-forgot{
  display: none; 
}

.footer-all {
  border-top: 1px solid rgb(133, 109, 77);
  background: #fefefe;
  margin-top: 50px;
}
footer h4 {
  border-bottom: 1px solid rgb(133, 109, 77);
}
footer .info-footer {
  padding: 15px;
}
.footer-below {
  padding-top: 20px;
  border-top: 1px solid rgba(133, 109, 77, 0.5);
  text-align: center;
}

.no-match {
  color: #f11;
  margin-top: 20px;
}
.box a{  
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  padding: 10px 25px;
}
.box{
  background-color: #eee;
  border: 1px solid rgba(133, 109, 77, 0.7);
  margin: 15px 0;
  height: 130px;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(100, 100, 100,0.4); 
  box-shadow: 0px 0px 16px 2px rgba(100, 100, 100,0.4);
}
.line-all{
  color: grey;
}
.line-on{
  color: green;
}
.line-off{
  color: red;
}

.online-1{
  border-bottom: 5px ridge green;
}
.offline-1{
  border-bottom: 5px ridge red;
}
.online{
  border-left: 5px ridge green;
  margin-top: 20px;
}
.offline{
  border-left: 5px ridge red;
  margin-top: 20px;
  font-style: oblique;
}

.form-connect, .form-forgot{
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid black;
  padding: 20px 50px;
  border-radius: 5px;
}

.textarea {
  margin: 25px 0;
}
.form-chapter input{  
  padding: 5px 10px;
}
.title-admin #title{
  padding: 5px 10px;
  width: 100%;
  height: 45px;
}
.btn-save a{
  color: #fefefe;
}

.diffuse{
  background-color: #b2b2b2;
  background: -webkit-linear-gradient(to right, #b2b2b2, #c1c1c1);
  background: -o-linear-gradient(to right, #b2b2b2, #c1c1c1);
  background: linear-gradient(to right, #b2b2b2, #c1c1c1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.diffuse-new{
  background-color: #b2b2b2;
  margin-bottom: 20px;
  table-layout: auto;
  font-size: 1em;
  width: auto;
}
.diffuse div{
  padding: 15px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.overflow{
  overflow-x: auto;
}
.table-filter{
  min-width: auto;
}
.table-filter, .table-filter tr{
  border: hidden;
}

.diffuse{
  table-layout: auto;
  font-size: 1em;
  width: 100%;
  min-width: 750px;
}

.allChapter{
  min-width: 750px;
}
.diffuse-new td, .diffuse-new th{
  padding: 10px 20px;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(150, 150, 150, 0.3);
}
td, th{
  padding: 8px 10px;
  border-collapse: collapse;
  border: 1px solid rgba(150, 150, 150, 0.3);
}

.btn-online{
  background-color: #3c3;
  color: #fefefe;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
}
.btn-offline{
  background-color: #c66;
  color: #fefefe;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
}

.create{
  margin: 30px 10px;
}
.create .btn-new{
  background: #3c3;
  color: #FEFEFE;
  padding: 8px 18px;
  border-radius: 5px;
}

.filter{  
  border: 1px solid #fefefe;
  padding: 15px 30px;
  border-radius: 5px;
  background-color: #fefefe;
  margin-bottom: 50px;
}
.filter h3{
  border-bottom: 2px ridge rgb(133,109,77);
  margin-bottom: 30px;
}
#table-chapter-filter, #table-name-filter{
  padding: 0 15px;
  display: none;
  -webkit-transition: all ease 500ms;
  -o-transition: all ease 500ms;
  transition: all ease 500ms;
}
#table-chapter-filter td, #table-name-filter td{
  border-style: none;
}
.filter .sec-form{
  margin: 10px 0;
}
.btn-filter{
  background: #3c3;
  padding: 5px 25px;
  border-radius: 3px;
  border-style: none;
  -webkit-box-shadow: 1px 2px 10px 0px rgb(100, 120, 120);
  box-shadow: 1px 2px 10px 0px rgb(100, 120, 120);
}
.select, .selAuthor{
  padding: 8px;
}


.info-time{
  font-size: 0.8em;
  background-color: red;
  color: #fefefe;
  padding:10px 0 0 20px;
}

*[id^="detail-"] {
  padding: 0 15px;
  display: none;
}
.glyphicon-chevron-down {
  display: none;
}
.glyphicon {
  -webkit-animation-timing-function: all 750ms ease;
  -o-animation-timing-function: all 750ms ease;
  animation-timing-function: all 750ms ease;
}




.glyphicon-menu-up {
  position: fixed;
  right: -50px;
  top: 88%;
  color: #fefefe;
  background: rgba(133,109,77, 0.9);
  padding: 15px;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  -webkit-transition: all ease 350ms;
  -o-transition: all ease 350ms;
  transition: all ease 350ms;
}